name: Telegram Notify

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Read release notes
        id: release_notes
        run: |
          echo 'notes<<EOF' >> $GITHUB_OUTPUT
          cat releasenotes.md >> $GITHUB_OUTPUT
          echo 'EOF' >> $GITHUB_OUTPUT

      - name: Send Telegram message
        uses: appleboy/telegram-action@v1.0.1
        with:
          to: ${{ secrets.TELEGRAM_CHAT_ID }}
          token: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          message: |
            SOSParser New Release Announcement!
            ${{ steps.release_notes.outputs.notes }}
